<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= todo.title %></title>
</head>
<body>

  <h1><%= todo.title %></h1>

  <hr>

  <a href="/remove-todo/<%= todo.id %>">
    odebrat
  </a>
  &nbsp;
  <a href="/toggle-todo/<%= todo.id %>">
    <%= todo.done ? 'hotovo' : 'nehotovo' %>
  </a>

  <hr>

  <form method="post" action="/update-todo/<%= todo.id %>">
    <h2>Upravit todočko</h2>
    <label>Název</label>
    <input placeholder="Název todočka" name="title" value="<%= todo.title %>">
    <label>Priorita</label>
    <select name="priority">
      <option value="low" <%= todo.priority === 'low' ? 'selected' : '' %>>low</option>
      <option value="normal" <%= todo.priority === 'normal' ? 'selected' : '' %>>normal</option>
      <option value="high" <%= todo.priority === 'high' ? 'selected' : '' %>>high</option>
    </select>
    <button type="submit">Upravit</button>
  </form>

  <hr>

  <a href="/">Zpět na seznam</a>

  <script>
    const ws = new WebSocket('ws://localhost:3000');
    const locationTodoId = window.location.pathname.split('/').pop();

    const handleMessage = (data) => {
      if (locationTodoId != data.todoId) return;
      
      const el = document.getElementsByTagName("html")[0]
      if (data.type === 'todoList') {
        if (data.operation == 'delete') {
          el.innerHTML = '<h1>NENALEZENO</h1>';
        } else el.innerHTML = data.detailHtml;
      }
      else if (data.type === 'todoDetail') {
        el.innerHTML = data.detailHtml;
      }
    };

    ws.addEventListener('message', (ev) => {
      const data = JSON.parse(ev.data);
      console.log(data);
      handleMessage(data);
    });

  </script>

</body>
</html>
